# ----------------------------------------------------------------------------
# Copyright 2019 Drunella
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ----------------------------------------------------------------------------

FEATURES {
    STARTADDRESS:    default = $6c49;
}

SYMBOLS {
    __LOADADDR__:    type = import;
}

MEMORY {
    LOADADDR: file = %O, start = %S - 2, size = $0002;

    IO_REPLACEMENT:  start = $6c49,  size = $01fe,  fill = yes, fillval = $ff;
    IO_MUSIC:        start = $6e47,  size = $0106,  fill = yes, fillval = $00;
    #IO_DATA:         start = $7760,  size = $a0,    fill = no;
}

SEGMENTS {
    LOADADDR: load = LOADADDR, type = ro;

    IO_CODE:     load = IO_REPLACEMENT,  type = rw;
    #MUSIC_CODE:  load = IO_REPLACEMENT,  type = rw;

}
